.logoContainer {
  display: flex;
  align-items: center;
  width: 207px;
  height: 33px;
  border-radius: 31px;
  background-color: #f7f7f7;
  font-family: Inter;
  margin-left: 20px;
  user-select: none;
}

.vegetable {
  font-weight: 600;
  font-size: 22px;
  color: #000000;
  padding-left: 12px;
  padding-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  background-color: #54b46a;
  padding: 1px 12px 2px 12px;
}
