@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
  margin: 0;
  background-color: #f3f5fa;
  position: relative;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 28px;
  column-gap: 24px;
  max-width: 2000px;
  margin: 49px 80px 129px 80px;
}

.catalog {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  margin-left: 80px;
  margin-top: 60px;
}

.AppHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 59px;
  z-index: 11;
}
